{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["prettier", "react"],
    "rules": {
        "prettier/prettier": "error",
        "no-console": 0
    },
    "env": {
        "browser": true,
        "node": true
    }
}
