html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bg);
}

body.light {
    --bg: #f1f1f1;
    --bg-secondary: rgb(249, 250, 251);
    --textNormal: #222;
    --textTitle: #222;
    --textLink: #5d69f6;
    --inlineCode-bg: rgba(255, 229, 100, 0.2);
    --inlineCode-text: #1a1a1a;
    --footer-bg: #fff;
}

body.dark {
    --bg: #2e3135;
    --bg-secondary: rgb(54, 60, 72);
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: #ffffff;
    --textLink: #e65f78;
    --inlineCode-bg: rgba(115, 124, 153, 0.2);
    --inlineCode-text: #e6e6e6;
    --footer-bg: #26282b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
